<div id="user">
<form action="logout" method="get">
  <button type="submit"><b>退出登录</b>
</button>
</form>
</div>

<div id="nav">
	<ul>
		<li><a href="new_project.html">新建项目</a></li>
		<li><a href="manage_project.html">管理项目</a></li>
		<li><a href="#">微信报</a></li>
		<li><a href="download.html">下载</a></li>
	</ul>
</div>
<div id="banner">
	<div id="login">
	<form>
		<p>请输入提取密码:</p><br>
		<input type="text" id="name" name="name">
		&nbsp;
		<input type="button" name="submit" value="&nbsp;提取文件&nbsp;">	
	</form>
		
	</div>
</div>
<div id="content">

</div>
<div id="footer">
	<p>版权归微信学习</p>
	<p>微信信息：关于我们、关于产品、我们的服务</p>
</div>

