
<!--div id="logo">
	<a href="#" id="logolink"></a>
</div!-->

<div id="nav">
	<ul>
		<li><a href="index.html">管理员登录</a></li>
	</ul>
</div>

<div id="banner">
	<div id="login">
	<form 
	 name="form_user" method="post" action="login" enctype="multipart/form-data">
	用户名:
   
   <input type="text" id="name" name="name"style="height:25px;width:130px">
        <br><br> 
	密&nbsp;&nbsp;码:
<input type="password" id="password" name="password"style="height:25px;width:130px"> 
   	<br>&nbsp;<center><p style="color:red"><%= flash[:alert]%></p></center>
        <br>	
         操&nbsp;&nbsp;作:
	<select style="height:25px;width:130px" name="operation">
		  <option value="new_project">新建项目</option>
		  <option value="manage_project">管理项目</option>
		</select>
        <!--input type="file" name="abc" value="&nbsp;a&nbsp;b&nbsp;"--!>	
                <br><br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input id="btn_submit" type="submit" name="login"style="height:25px;width:70px" value="登&nbsp;&nbsp;录&nbsp;">
	</form>
        
	</div>
</div>

<div id="content">

</div>

<div id="footer">
	<p>版权归微信学习</p>
	<p>微信信息：关于我们、关于产品、我们的服务</p>
</div>
