
<div id="nav">
        <ul>
        <li><a href="register">项目经理注册</a></li>
	</ul>
</div>
<div id="banner-new">
 
   <div id="form">
        <form style="margin-top:30px;margin-left:30px"
                name="register" method="post" action="register_manager">
             <center><p style="color:red"><%= flash[:alert]%></p></center>
             <center><p style="color:green"><%= flash[:notice]%></p></center>
 
                用<label style="margin-left:8px;margin-right:8px">户</label>名:
                <input style="height:25px;width:150px" type="text" id="username" name="username" />(必填)
     	 <br><br>
	
              密<label style="margin-left:32px">码:</label>
                <input style="height:25px;width:150px" type="password" id="password" name="password" />(必填)
              <br>
              <br>
                确认密码:
                <input style="height:25px;width:150px" type="password" id="repassword" name="repassword" />(必填）
            <br>
            <br>
           <input style="margin-left:120px;width:70px;height:30px" type="submit" name="register"  value="注&nbsp;&nbsp;册" />
        </form>
        </div>

</div>
<div id="footer">
	<p>版权归微信学习</p>
	
	<p>微信信息：关于我们、关于产品、我们的服务</p>
</div>
