body,div,a,img,p,form,h1,h2,h3,h4,h5,h6,input,textarea,ul,li,dt,dd,dl{margin:0;padding:0;}
/*主页*/
#logo,#user,#nav,#banner,#content,#footer,#banner-new,#banner-in,#user0{width:900px;margin:0 auto;}
#logo{
	height:102px;
	}
#logolink{
	display:block;
	width:262px;
	height:82px;
	background:url(logo.jpg) no-repeat;
	float:left;
	}
#user{height:10px;
	margin-top:30px;}
#user label{
	width:50;
	margin-right:50px;
	float:right;
	}
#user0{height:30px;
       margin-top:30px;}
#user0 label{
	width:50;
        margin-left:700px;
        }
#user0 form{
        display:block;
        width:100px;
        margin-right:30px;
        float:right; 
        }
#nav{height:42px;}
#nav ul{
	height:42px;
	list-style:none;
	margin-top:20px;
	background:#56990c;
	}
#nav ul li{
	height:42px;
	margin-left:50px;
	float:left;
	}
#nav ul li a{
	display:block;
	height:42px;
	color:#FFF;
	padding:0 10px;
	line-height:42px;
	font-size:14px;
	font-weight:bold;
	font-family:Arial;
	text-decoration:none;
	float:left;
	}
#nav ul li a:hover{background:#68acd3;}

#banner{
	height:455px;
	background:url(banner.jpg) no-repeat;
	}
#login{
	background:#E1E5E1;
	height:300px;
	width:320px;
	margin-top:80px;
	margin-left:80px;
	float:left;
	}
#login form{
	margin-top:50px;
	margin-left:50px;
	}
	
#footer{
	text-align:center;
	background:#9CCC67;
	padding:10px 0;
	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
	color:#fff;
	line-height:20px;
	margin-bottom:30px;
	}
/*新建项目*/
#banner-new{
	height:450px;
	width:900px;
	background:#E1E5E1;
	}

#form{
	width:700px;
	margin-top:30px;
	margin-left:100px;
	float:left;
	}
/*管理项目*/
#banner-in{
	height:1000px;
	width:900px;
	background:#e1e5e1;
	}
#list{
	width:700px;
	height:420px;
	margin:0 auto;
	}
#list-photo{
	width:740px;
	height:720px;
	margin:0 auto;
	}
#upload{
	width:700px;
	height:200px;
	margin:0 auto;
	}
#list table{
	border-collapse:collapse;
	}
#list table,td,th{
	border:1px solid black;
	height:30px;
	}
#list-photo table{
	border-collapse:collapse;
	}
#list-photo table,td,th{
	border:1px solid black;
	height:30px;
	}
#page{height:20px;}
#page ul{
	height:20px;
	list-style:none;
	margin:0 230px;
	}
#page ul li{
	height:20px;
	margin-left:10px;
	float:left;
	}
#page ul li a{
	display:block;
	height:20px;
	color:#000;
	padding:0 3px;
	line-height:20px;
	text-decoration:none;
	float:left;
	}
#page ul li a:hover{color:#0000ff}
